<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <img class="overlay-content" src="../../assets/CTF%20Logo.jpg" style="height: 30% ; width: 40%; margin-top: 50px"><br><br>
    <a href="/">Home</a>
    <a href="/kores">Student Directors</a>
    <a href="/gallery">Gallery</a>
    <a href="/contact">Contact</a>
  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<img src="../../assets/menu.png" (click)="openNav()" style="height: 3%;width: 3%; padding-left: 10px ;">
