<div class="my-container" >
  <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: 'red', backdropBorderRadius: '10px',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"></ngx-loading>
</div>
<app-topnav></app-topnav>
<body style="background-color: #1a1a1a">
<div class="container">
  <h1 class="heading" style="color:white;">ITS a Gallery !!!!<span> you can FIND pics HERE .....</span></h1>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" style="z-index: 1000">

  <!-- Modal content -->
  <div class="modal-content">

    <div class="gallery">
      <!-- GALLERY ELEMENTS  -->

      <div class="gallery-item" *ngFor="let item of images">
        <img class="gallery-image" src={{item.img}} alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
      </div>




    </div>
  </div>

</div>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- The Timeline -->

<ul class="timeline">

  <!-- Item 1 -->
  <li *ngFor="let item of imageList">
    <div class={{item.direction}}>
      <div class="flag-wrapper">
        <span class="flag" style="cursor: grab" (click)="openModel()">{{item.name}}</span>
        <span class="time-wrapper"><span class="time">{{item.id}}</span></span>
      </div>
      <div class="desc" style="color: white">CEG's TECHFEST</div>
    </div>
  </li>


</ul>

</body>


