<div class="my-container" >
  <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: 'gray', backdropBorderRadius: '10px',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"></ngx-loading>
</div>
<div class="topnav" style="background-color: black ;position: fixed;z-index: 6; width: 100% ;">
  <app-side-nav></app-side-nav>
</div>
<div class="box">
  <div id="row1" class="box_group">
    <img src="../../assets/log.png" style="z-index:">
    <div class="box_layer box_layer--base">
      <div class="valign" style="font-family: 'Raleway', Helvetica, Arial, sans-serif;color: white; font-size: 1cm"><h1>CEG TECH FORUM</h1></div>
      <img src="../../assets/log.png" style="margin-left:1cm; margin-top:2.5cm">
      <img src="../../assets/cegLog.png" style="position: absolute;top: 0px ; right: 0px; margin-top: 2.5cm;margin-right: 1cm">
    </div>
  </div>

  <div id="row2" class="box_group">
    <div class="box_layer box_layer--base">
      <div class="valign" style="font-family: 'Raleway', Helvetica, Arial, sans-serif;color: white; font-size: 1cm"><h1>WE ARE A TEAM </h1></div>
    </div>
    <div class="box_layer box_layer--back">
      <div class="valign"><h1></h1></div>
    </div>
  </div>

  <div id="row3" class="box_group">
    <div class="box_layer box_layer--base">
      <div class="valign" style="font-family: 'Raleway', Helvetica, Arial, sans-serif;color: white; font-size: 1cm"><h1>WE CREATE RECORDS</h1></div>
    </div>
    <div class="box_layer box_layer--back">
      <div class="valign"><h1></h1></div>
    </div>
  </div>

  <div id="row4" class="box_group">
    <div class="box_layer box_layer--base">
      <div class="valign" style="font-family: 'Raleway', Helvetica, Arial, sans-serif;color: white; font-size: 1cm"><h1>CTF | CEG Tech Forum</h1>
      <p>CTF - CEG Tech Forum is the nucleus of all technical pursuits in CEG. Conceived in 2006 with the prime motive of encouraging and guiding students in converting their project ideas into industry oriented products, the organization continually works towards inculcating a passion for technology into all of the bright minds at CEG. The organization is certified to the ISO 9001:2015 quality standard.</p>
      </div>
    </div>
    <div class="box_layer box_layer--back">
      <div class="valign"><h1></h1></div>
    </div>
    <div class="box_layer box_layer--deep">
      <div class="valign"><h1></h1></div>
    </div>
  </div>

  <div id="row_last" class="box_group">
    <div class="box_layer box_layer--base">
      <div class="valign" style="font-family: 'Raleway', Helvetica, Arial, sans-serif;color: white; font-size: 1cm"><h1>K!urukshetra</h1>
      <p>Kurukshetra, the signature event of CTF, is an international techno-management fest conducted annually in CEG. Initiated in 2007, it consists of a mélange of competitive events, workshops on latest technologies, guest lectures by eminent personalities and entertainment oriented events; thereby catering to a multitude of students from various domains. It is the first-ever fest in India to receive the UNESCO patronage.</p></div>
    </div>
  </div>
</div>
