/*
	NOTE:
	- It's a bit quirky. Seems to need a certain order of z-indexed items. (eg Over, Under, Over, etc)
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
body {
  background: #048;
  background: -webkit-linear-gradient(left top, #027, #48a);
  background: -moz-linear-gradient(bottom right, #027, #48a);
  background: linear-gradient(to bottom right, #027, #48a);
  color: #fff;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;
  width: 100%;
}


/* STYLES ========== */
.box {
  background: #333;
  height: 100vh;
  perspective: 300px;
  -webkit-perspective: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  /* -webkit-overflow-scrolling: touch; */
  /* Momentum scrolling breaks parallax on iOS.*/
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.box h1 {
  line-height: 120%;
  margin: 0;
}

.box_group {
  height: 500px;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}
.box_layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.box_layer--deep {
  transform: translateZ(-600px) scale(3);
  -webkit-transform: translateZ(-600px) scale(3);
  z-index: 2;
}
.box_layer--back {
  transform: translateZ(-300px) scale(2);
  -webkit-transform: translateZ(-300px) scale(2);
  z-index: 3;
}
.box_layer--base {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 4;
}
.box_layer--fore {
  transform: translateZ(90px) scale(.7);
  -webkit-transform: translateZ(90px) scale(.7);
  z-index: 1;
}
.valign {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* Style By Row */

#row1 {
  z-index: 5;
}
#row1 .box_layer--base {
  background-color: #444;
  background-image: url(../../assets/lights.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

#row2 {
  z-index: 3;
}
#row2 .box_layer--back {
  background-color: #048;
  background-image: url(../../assets/team.jpg);
  background-position: 50% 50%;
  background-size: cover;
  color: #777;
}

#row3 {
  z-index: 4;
}
#row3 .box_layer--base {
  transform: translateZ(90px) scale(.7);
  -webkit-transform: translateZ(90px) scale(.7);
  z-index: 1;
}
#row3 .box_layer--back {
  background-color: #408;
  background-image: url(../../assets/G1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  color: #777;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 3;
}

#row4 {
  z-index: 2;
}
#row4 .box_layer--back {
  color: #aaa;
}
#row4 .box_layer--deep {
  background-color: #804;
  background-image: url(../../assets/new.jpg);
  background-position: 50% 50%;
  background-size: cover;
  color: #777;
}

#row_last {
  z-index: 3;
}
#row_last  .box_layer--base {
  background-color: #444;
  background-image: url(../../assets/tech.jpg);
  background-position: 50% 50%;
  background-size: cover;
}



.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
