<div class="topnav">
  <app-side-nav></app-side-nav>
</div>
<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
  </div>
  <div class="parallax__layer parallax__layer--base">
    <h1>Ceg Tech Forum </h1>
    <h3><p>CTF - CEG Tech Forum is the nucleus of all technical pursuits in CEG. Conceived in 2006 with the prime motive of encouraging and guiding students in converting their project ideas into industry oriented products, the organization continually works towards inculcating a passion for technology into all of the bright minds at CEG. The organization is certified to the ISO 9001:2015 quality standard</p>
    </h3>
    <h1>KurukShetra</h1>
    <h3><p>Kurukshetra, the signature event of CTF, is an international techno-management fest conducted annually in CEG. Initiated in 2007, it consists of a mélange of competitive events, workshops on latest technologies, guest lectures by eminent personalities and entertainment oriented events; thereby catering to a multitude of students from various domains. It is the first-ever fest in India to receive the UNESCO patronage.</p>
    </h3>
  </div>
</div>
